/* studentCard.css */

.student-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 100%;
  margin: 20px 0;
  transition: all 0.2s ease;
}
.student-card:hover {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.04), 0px 3px 16px rgba(0, 0, 0, 0.04);
}

.student-card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.student-card-left {
  display: flex;
  gap: 15px;
}

.student-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}
.student-info{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.student-info h3 {
  margin: 0;
  font-size: 18px;
  color: var(--primary-text);
  font-weight: 600;
}
.location {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.student-location {
  font-size: 14px;
  color: var(--secondary-text);
  font-size: 16px;
  align-items: center;
}

.student-location {
  display: flex;
  gap: 5px;
}
.student-location i {
  color: #999;
}
.student-location address {
  font-weight: 300;
}
.student-card-right h4 {
  margin: 0;
  font-size: 16px;
  color: #666;
}
/* Status Styles */
.student-card-top .status {
  color: white; /* Default text color for all statuses */
  padding: 5px 15px;
  align-self: first baseline;
  border-radius: 20px;
  font-weight: bold;
  /* text-transform: uppercase; */
}

.student-card-top .status.pending {
  background-color: #ffc107; /* Softer yellow */
  color: #000; /* Dark text for contrast */
}

.student-card-top .status.accepted {
  background-color: #28a745; /* Calm green */
  color: white; /* White text for contrast */
}

.student-card-top .status.rejected {
  background-color: #dc3545; /* Bright red */
  color: white; /* White text for contrast */
}

.student-card-top .status.finished {
  background-color: #007bff; /* Rich blue */
  color: white; /* White text for contrast */
}

.student-price {
  font-size: 30px;
  color: var(--primary-color);
  font-weight: bold;
}

.student-card-middle {
  margin-bottom: 20px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.student-card-middle p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
  word-spacing: 1px;
  line-height: 22px;
}

.student-offers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.student-offers p {
  color: var(--secondary-text);
  font-weight: 500;
}
.student-offers div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.student-offers span {
  flex: 1;
  padding: 10px 15px;
  background-color: #f7f8fc;
  color: var(--secondary-text);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  max-width: 300px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.student-offers span i {
  margin-right: 5px;
}
.student-offers span i.home {
  color: #10bf10;
}

.student-offers span i.student {
  color: #1f5db3;
}

.student-offers span i.online {
  color: rgb(231, 164, 41);
}
.student-offers span i.clock {
  color: rgb(41, 136, 231);
}

.student-offers button:hover {
  background-color: var(--primary-color);
}

/* Bottom Row: Chat and View Profile Buttons */
.student-card-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.student-card-bottom button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--secondary-text);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.student-card-bottom button i {
  margin-right: 5px;
  color: #003b8b;
}

.student-card-bottom .chat-button {
  background-color: transparent;
  border: 2px solid #ddd;
}
.student-card-bottom .accept-button {
  color: #fff;
}
.student-card-bottom .reject-button {
  color: #fff;
  background-color: rgb(210, 2, 2);
}
.student-card-bottom .reject-button:hover {
  color: #fff;
  background-color: rgb(202, 4, 4);
}
.student-card-bottom button:hover i {
  color: white;
}
.student-card-bottom button:hover {
  background-color: #003b8b;
  color: white;
  border-color: #003b8b;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
  .student-card {
    padding: 15px;
  }

  .student-card-top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .student-card-left {
    margin-bottom: 20px;
  }

  .student-card-right {
    margin-bottom: 20px;
    background-color: #f7f8fc;
    width: 100%;
    display: flex;
    gap: 5px;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-radius: 4px;
    flex-direction: row;
  }

  .student-card-bottom {
    justify-content: center;
  }

  .student-offers {
    flex-direction: column;
  }

  .student-card-bottom {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .student-card-left {
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
  }

  .student-card-left .student-image {
    object-fit: cover;
    height: auto;
    aspect-ratio: 4/2;
    width: 100%;
  }
  .student-info {
    align-items: flex-start;
  }
}
